<!DOCTYPE html>
	<html>

		<head>
			<title>Customer Service 📞</title>
			<style type="text/css">
				body{
						background-color: #ccf2f4;
						
						max-width: 700px;
  						margin: auto;
					}

					

					h3{
						color: #161d6f;
					}

					h1{
						color: #1687a7;
						font-family: cursive;
						font-size: 50px;
					}
			</style>
			
		</head>

		<body>
			<h2>Contact Details</h2>
			<ol>
				<li>Address: <em>Newtown,Kolkata,WestBengal,Pin-700009</em></li>
				<li>Mobile: <em><strong>**********</strong></em></li>
				<li>Whatsapp: <em><strong>**********</strong></em></li>
				<li>Email: <em><strong>xyz@gmail.com</strong></em></li>
				
			</ol>

			<br><br>

			<h3>Contact Us</h3>

			<form action="mailto:xyz@gmail.com" method="post" enctype="text/plain">
				<label>Your Name: </label>
				<input type="text" name="Name: "><br><br>

				<label>Contact Number: </label>
				<input type="number" name="Contact number: "><br><br>

				<label>Your Email: </label>
				<input type="email" name="Email: "><br><br>

				<label>Your Message: </label><br>
				<textarea name="Your Message: " rows="10" cols="25"></textarea><br>

				<input type="submit" name="">
				
			</form>

		</body>

	</html>